body{
    background-color: white;
    font-size: 0.9;
    margin-left: 10vw;
    margin-top: 1vw;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 75%;

}
h1 {
    font: 'Arial Narrow', sans-serif;
    font-size: 4vw;
    margin: 0vw;
    color: #000000;
    text-transform: uppercase;
  }
h2{
    margin: 0vw; 
    margin-bottom: 0.2vw; 
}
span{
    color:#1323b3;
}

#test{
    font-size: 4.4vw;
}
p {
    margin: 0vw;
}



#smallLogo {
    text-align: left;
    font-size: 0.8vw;
}

#wrapper {
    overflow:auto;
    width: 100%;
    height: 11vw;
    /* border: solid 1px green */
}
#wrapper2 {
    overflow:auto;
    width: 100%;
    height: auto;
    /* border: solid 1px green */
}

#left{
    float:left;
    /* display: inline-block; */
    width: 18%;
    margin-left: 2vw;
    height: auto;
    text-align: left;
    font-weight: bold;
    /* border: solid 1px rgb(248, 0, 0) */
}
#left2{
    /* display: inline-block; */
    width: 18%;
    height: auto;
    font-weight: bold;
    float: left;
    text-align: left;
    /* border: solid 1px rgb(248, 0, 0) */
}
#center {
    width: 9%;
    margin:0;
    display: inline-block;
    margin-bottom: 0.2vw;
    border: 1px solid black;
}
#gameSpeed{
    font-size: 0.8vw;
    float:right;
    border: 1px solid black;
}

#speciesScreen{
    float:left;
    /* display: inline-block; */
    width:50%;
    height: auto;
    text-align: left;
    /* font-weight: bold; */
}
#speciesScreenAi{
        /* border: 1px solid black; */
        vertical-align:top;
        text-align: left;
        /* display: inline-block; */
        width: 49%;
        float:right;
}
#fishListForm{
    margin-top: 0.445vw;
}
#screens {
    text-align: left;
    width: 100%;
    /* border: 1px solid sandybrown; */
}

.speedButton{
    font-size: 0.5vw;
}
#right {
    vertical-align:top;
    text-align: right;
    /* display: inline-block; */
    width: 50%;
    float:right;
    margin-top: 1vw;
    margin-right: 2vw;
    /* border: solid 1px rgb(248, 0, 0) */
}
#textBoxThing{
    border:1px solid black;
    text-align: left;
    height:1.5vw;
    overflow: hidden;
    font-size: 0.6vw;
    width: 28vw;
}
#bottomMenu{
    padding: 1vw;
}
#historyTest{
    font-size: 0.8vw;
}
#historyScreen{
    height: 24.5vw;
    overflow: auto;
    text-align: left;
}
#mapScreen{
    height:24.5vw;
    overflow:hidden;
}
.historyTestClass{
    font-size: 0.8vw;
}
.screens{
    font-size: 0.8vw;
}
.infoText{
    font-size: 0.6vw;
}
#bestCanvas {
    height: 25vw;
    width: 75vw;
    border: 1px solid black
}   

.deadFish{
    color: red;
}

#sliderId::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('resources/1bWiik3.png');
    cursor: pointer;
}

#sliderId::-moz-range-thumb {
    width: 30px;
    height: 21px;
    border: 0;
    background: url('resources/test.png');
    cursor: pointer;
}
